@{
    ViewBag.Title = "Home Page";
}
<style>
    iframe {
        width: 100%;
        height: 100%;
        border: none; /* 可以去掉 iframe 的边框 */
    }
</style>
<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">ASP.NET</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-md">Learn more &raquo;</a></p>
    </section>

    <div class="row">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <h2 id="gettingStartedTitle">Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="librariesTitle">
            <h2 id="librariesTitle">Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="hostingTitle">
            <h2 id="hostingTitle">Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </section>
    </div>
</main>

<input id="file" type="file" class="chz-file-input" data-attach="from" size="30" multiple accept=".docx,.xlsx,.xlsm" />
<br>
<button id="btn" type="submit">上傳</button>

<iframe id="iframe" height="500" src="https://view.officeapps.live.com/op/view.aspx?src=https://firebasestorage.googleapis.com/v0/b/ronweb-87615.appspot.com/o/%E6%B3%A8%E9%9F%B3%E9%A1%8C-%E6%95%B8%E5%AD%B8.docx?alt=media&token=dfbc9eed-5f67-40a4-9c95-386df3276bba"></iframe>
<script>
    const btn = document.getElementById('btn');
    $('#btn').on('click', () =>
    {
        const fileInput = document.getElementById('file');
        if (fileInput.files.length)
        {
            var formdata = new FormData();
            for (let i = 0; i < fileInput.files.length; i++) {
                formdata.append(fileInput.files[i].name, fileInput.files[i]);
            }
            $.ajax('/Home/Upload', {
                type: 'POST',
                data: formdata,
                processData: false, // 必須設置為 false，因為要傳送 FormData
                contentType: false, // 必須設置為 false，因為使用 FormData
                success: function ({ path }) {
                    $('#iframe').attr("src", prevPath);
                },
            })
        }
        
    })
</script>